:root {
  --font-sans-serif: "Rethink sans", sans-serif;
  --font-serif: "STIX Two Text", serif;
  --font-mono: "Source Code Pro", monospace;
  --color-base: #15171a;
  --color-text: #30353c;
  --color-code-back: #f1f1f1;
  --color-darkgrey: #343f44;
  --color-midgrey: #738a94;
  --color-lightgrey: #c5d2d9;
  --color-whitegrey: #e5eff5;
  --color-wash: #f1f2f3;
  --color-red: #f05230;
  --color-blue: #3eb0ef;
  --color-yellow: #ffd400;
  --color-teal: #009c7e;
  --color-lime: #d1ff19;
  --color-green: #5dcf1f;
  --color-pink: #ff247d;
  --color-purple: #ad26b4;
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
  --max-width: 640px;
}
